*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1em;
}

/* Header Section */
header{
    background-color: #E579E6;
    width: 80%;
    height: 3em;
    margin: auto;
    margin-top: 0.46em;
}
/* /Header Section */

/* Jumbotron Box */
.jumbotron{
    background-color: #E1D67A;
    width: 80%;
    height: 10em;
    margin: auto;
    margin-top: 0.6em;
}
/* /Jumbotron Box */

/* Main Section */
main{
    background-color: #ABCFE7;
    width: 80%;
    height: 12em;
    margin: auto;
    margin-top: 0.6em;
}
/* /Main Section */

/* Footer Section */
footer{
    background-color: #8801FE;
    width: 80%;
    height: 1.3em;
    margin: auto;
    margin-top: 0.3em;
}
/* /Footer Section */